body {
    background-color: black ;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: xx-large;
}

.image-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beatles-1 {
    max-width: 30%;
}

.paragraph {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

p {
    color: white;
    font-size: larger;
}
